
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.pytest_cache/
.coverage
htmlcov/
.tox/
*.cover
# Logs
*.log
pip-log.txt
.python-version
build/
.streamlit